body {
  margin: 0;
  background-color: rgb(184, 184, 184) !important;
}
#watch {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*CSS for color button section begins*/
#color-parent {
  display: flex;
}
#color-child-black,
#color-child-blue,
#color-child-red,
#color-child-purple,
#color-child-rose {
  flex: 20%;
  margin-left: 5px;
  margin-right: 5px;
}
#black-btn,
#blue-btn,
#red-btn,
#purple-btn,
#rose-btn {
  margin: auto;
  width: 60px;
  height: 45px;
  border-radius: 15px;
}
#black-btn {
  background-color: black;
}
#blue-btn {
  background-color: blue;
}
#red-btn {
  background-color: red;
}
#purple-btn {
  background-color: purple;
}
#rose-btn {
  background-color: rosybrown;
}
/*CSS for color button section ends*/

/*CSS for feature button section begins*/
#feature-parent {
  display: flex;
}
#feature-child {
  flex: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
#time-btn,
#heart-btn {
  margin: auto;
  width: 120px;
  height: 60px;
  border-radius: 15px;
  background-color: rgb(99, 99, 99);
}
/*CSS for feature button section ends*/

/*CSS for final button section begins*/
#buy-btn {
  width: 150px;
  height: 60px;
  border-radius: 15px;
  background-color: rgb(230, 115, 63);
}

@media only screen and (min-width: 375px) {
  #watch {
    width: 300px;
  }
}
@media only screen and (min-width: 1280px) {
  #watch {
    width: 500px;
  }
  #time-btn,
  #heart-btn {
    margin: auto;
    width: 250px;
    height: 60px;
    border-radius: 15px;
    background-color: rgb(99, 99, 99);
  }
}
