body {
  margin: 0;
  background-color: rgb(231, 231, 231) !important;
}
#band-section {
  background-image: url("../img/bands/black.png");
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#clock {
  margin: auto;
  text-align: center;
  font-size: 10px;
  color: white;
  width: 200px;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
/*CSS for color button section begins*/
#color-parent {
  display: flex;
  justify-content: flex-start;
}
#color-child-black,
#color-child-blue,
#color-child-red,
#color-child-purple,
#color-child-rose {
  margin-left: 5px;
  margin-right: 5px;
}
#black-btn,
#blue-btn,
#red-btn,
#purple-btn,
#rose-btn {
  margin: auto;
  width: 60px;
  height: 45px;
  border-radius: 15px;
}
#black-btn {
  background-color: rgb(34, 34, 34);
}
#black-btn:hover {
  background-color: rgb(77, 77, 77);
}
#blue-btn {
  background-color: blue;
}
#blue-btn:hover {
  background-color: rgb(116, 116, 235);
}
#red-btn {
  background-color: red;
}
#red-btn:hover {
  background-color: rgb(241, 101, 101);
}
#purple-btn {
  background-color: purple;
}
#purple-btn:hover {
  background-color: rgb(146, 87, 146);
}
#rose-btn {
  background-color: rosybrown;
}
#rose-btn:hover {
  background-color: rgb(187, 171, 171);
}
/*CSS for color button section ends*/

/*CSS for feature button section begins*/
#feature-parent {
  display: flex;
  justify-content: flex-start;
}
#feature-child {
  margin-left: 10px;
  margin-right: 10px;
}
#time-btn,
#heart-btn {
  margin: auto;
  width: 120px;
  border-radius: 15px;
  background-color: rgb(99, 99, 99);
}
#time-btn p,
#heart-btn p {
  color: white;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
}
#time-btn:hover {
  background-color: silver;
}
#time-btn p:hover {
  color: black;
}
#heart-btn:hover {
  background-color: silver;
}
#heart-btn p:hover {
  color: black;
}
/*CSS for feature button section ends*/

/*CSS for final button section begins*/
#buy-btn {
  width: 150px;
  border-radius: 15px;
  background-color: rgb(228, 135, 92);
  margin: auto;
}
#buy-btn p {
  color: black;
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
}
#buy-btn:hover {
  background-color: rgb(226, 101, 43);
}
#buy-btn p:hover {
  color: white;
}
/*CSS for final button section ends*/
.btn-shadow {
  box-shadow: 1px 1px 8px 1px rgb(119, 118, 118);
}
/*CSS for mobile devices*/
@media only screen and (min-width: 375px) {
  #band-section {
    background-image: url("../img/bands/black.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center center;
    height: 300px;
  }
  #clock {
    font-size: 15px;
  }
  #buy-btn {
    margin: auto;
  }
}

/*CSS for laptop or PC devices*/
@media only screen and (min-width: 1280px) {
  #band-section {
    background-image: url("../img/bands/black.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center center;
    height: 500px;
  }
  #clock {
    font-size: 25px;
  }
  #time-btn,
  #heart-btn {
    margin: auto;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(99, 99, 99);
  }
  #buy-btn {
    margin: 0;
  }
}
